fastapi
uvicorn[standard]
pydantic
python-multipart
httpx
sqlalchemy
psycopg2-binary
alembic
python-dotenv
llama-parse
llama-index
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-llms-openai
sentence-transformers
pinecone-client
groq
openai
requests
aiofiles
pandas
numpy
huggingface_hub
tokenizers
transformers
torch
scikit-learn
scipy